<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="panel-comprobantes" id="panel-comprobantes" class="panel">
  <div class="sec-hdr"><div><div class="sec-title">Comprobantes</div><div class="sec-sub">EMISIÓN Y GESTIÓN DE COMPROBANTES</div></div><button class="btn-gold btn-sm" onclick="emitirComprobante()">+ Emitir Comprobante</button></div>
  <div class="card"><div class="card-body-0" style="overflow-x:auto;"><table class="tbl">
    <thead><tr><th>N° Comprob.</th><th>Fecha</th><th>Tipo</th><th>Socio/Cliente</th><th>Monto (S/)</th><th>Estado</th><th>Acciones</th></tr></thead>
    <tbody></tbody>
  </table></div></div>
</div>
</body>
</html>